# Data Science Tools and Ecosystem

Data Scien Tools and Ecosystem are summarized

# Objectives :
* List popular languages for Data Science
* List popular Data Science Tools
* Use Markdown cell
* list commonly used Librairies by Data Scientists
* how to use comment in the code cell

Somme of the popular languages that Data Scientist use are :
1. Python
2. R
3. Julia

Somme of the commonly used librairies used by Data Scientists include:
* Numpy
* Pandas
* Matplotlib
* Seaborn
* caret
* etc.

Table :
| Data Science Tools |
| ------------------ |
| Anaconda |
| Jupyter Lab |
| Jupyter Notebooks |
| Vs Code |

### Below are a few examples of evaluating arithmetic expressions in python

In [11]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
NbrMin = 200
MinInHour = 60
ResultInHours = NbrMin/MinInHour
print("The reuslts in hours is :",ResultInHours)

The reuslts in hours is : 3.3333333333333335

## Author
Jida Bassem